<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="dashboard-page">

<div class="sidebar">
    <h3 class="logo">Admin Panel</h3>
    <a href="/admin">Dashboard</a>
    <a href="/admin/students">View Student Wallets</a>
    <a href="/logout" class="logout-btn">Logout</a>
</div>

<div class="main-content">
    <h1>Student List</h1>

    <table class="transaction-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        {% for s in students %}
        <tr>
            <td>{{ s[1] }}</td>
            <td>{{ s[2] }}</td>
            <td>
                <a href="/admin/student/{{ s[0] }}" class="result-btn">
                    View Wallet
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>
